@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 27, 29, 46;
  --background-start-rgb: 25,35,47,255;
  --background-end-rgb: 25,35,47,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb:25,35,47,255;
    --background-end-rgb: 25,35,47,255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
nav {
  background-color: rgba(24, 34, 46,255);
}
.shape1 {
  border-radius: 51% 49% 70% 0% / 100% 100% 0% 0%   ;
  background-color: rgba(57,73,80,50);
  left: 36rem;
}
.shape2 {
  border-radius: 0% 0% 50% 50% / 0% 0% 100% 100%  ;
  background-color: rgba(108,114,121,255)
}
.shape3 {
  border-radius: 0% 0% 50% 50% / 0% 0% 100% 100%  ;
  background-color: rgba(80,95,101,255);
}
.circle {
  float: left;
  width: 150px;
  height: 150px;
  margin: 20px;
  shape-outside: circle(50% at 30%);
  clip-path: circle(50% at 0%);
  background: lightblue;
}